@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@{
    ViewData["Title"] = "Cadastro de Abastecimento";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<h2 class="mb-4">Consultar Abastecimentos</h2>

<div class="card mb-4">
    <div class="card-body">
        <button class="btn btn-success text-white" id="btnNovoRegistro"><i class="fa fa-plus pull-right"></i> Novo Registro</a></button>
    </div>
</div>

<div class="card mb-4">
    <div class="card-header bg-white font-weight-bold">
       Abastecimentos Realizados
    </div>
    <div class="card-body">
        <div class="table-responsive" id="destroy">
            <table class="table table-striped" id="AbastecimentosCadastrados">
                <thead>
                    <tr>
                        <th scope="col">#</th>
                        <th scope="col">KM Abastecimento</th>
                        <th scope="col">Litros Abast/</th>
                        <th scope="col">Valor Pago</th>
                        <th scope="col">Data Abastecimento</th>
                        <th scope="col">Posto</th>
                        <th scope="col">Combustível</th>
                        <th scope="col">Tipo</th>
                        <th scope="col">Placa Veículo</th>
                        <th scope="col" style="min-width:80px!important">Opções</th>
                    </tr>
                </thead>
                <tbody></tbody>
            </table>
        </div>

    </div>
</div>

<div class=" modal fade modal_confirm" id="modalAlterarRegistro">
    <div class="modal-dialog modal-md">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Aterar Abastecimento</h4>
            </div>
            <div class="modal-body">
                <div class="card-body">
                    <div class="row">
                        <div class="form-group col-md-6">
                            <label>Veículo<b>*</b> <img src="https://img.icons8.com/flat_round/15/000000/info.png" data-toggle="tooltip" data-placement="top" title="Selecione uma veículo" /></label>
                            <select class="form-control" name="selVeiculoAlt" id="selVeiculoAlt"></select>
                            <input type="hidden" id="hdnId" value="0" />
                        </div>
                        <div class="form-group col-md-6">
                            <label>Posto<b>*</b> <img src="https://img.icons8.com/flat_round/15/000000/info.png" data-toggle="tooltip" data-placement="top" title="Selecione um posto" /></label>
                            <select class="form-control" name="selPostoAlt" id="selPostoAlt"></select>
                        </div>
                        <div class="form-group col-md-6">
                            <label>Combustível<b>*</b> <img src="https://img.icons8.com/flat_round/15/000000/info.png" data-toggle="tooltip" data-placement="top" title="Selecione um tipo de combustível" /></label>
                            <select class="form-control" name="selCombustivelAlt" id="selCombustivelAlt"></select>
                        </div>
                        <div class="form-group col-md-6">
                            <label>Tipo<b>*</b> <img src="https://img.icons8.com/flat_round/15/000000/info.png" data-toggle="tooltip" data-placement="top" title="Selecione um tipo de veículo" /></label>
                            <select class="form-control" name="selTipoAlt" id="selTipoAlt"></select>
                        </div>
                        <div class="form-group col-md-6">
                            <label>Data Abastecimento<b>*</b> <img src="https://img.icons8.com/flat_round/15/000000/info.png" data-toggle="tooltip" data-placement="top" title="Informe a data" /></label>
                            <input type="date" class="form-control" name="dtAbastecimentoAlt" id="dtAbastecimentoAlt" />
                        </div>
                        <div class="form-group col-md-6">
                            <label>KM Abastecido<b>*</b> <img src="https://img.icons8.com/flat_round/15/000000/info.png" data-toggle="tooltip" data-placement="top" title="Informe o KM abastecido" /></label>
                            <input type="text" class="form-control maskDinheiro" name="txtKMAlt" id="txtKMAlt" placeholder="Ex: 39,00" />
                        </div>
                        <div class="form-group col-md-6">
                            <label>Litro(s) Abastecido(s)<b>*</b> <img src="https://img.icons8.com/flat_round/15/000000/info.png" data-toggle="tooltip" data-placement="top" title="Informe a quantidade de litro(s) abastecido" /></label>
                            <input type="text" class="form-control maskDinheiro" name="txtLitroAlt" id="txtLitroAlt" placeholder="Ex: 32,40" />
                        </div>
                        <div class="form-group col-md-6">
                            <label>Valor<b>*</b> <img src="https://img.icons8.com/flat_round/15/000000/info.png" data-toggle="tooltip" data-placement="top" title="Informe o valor abastecido!" /></label>
                            <input type="text" class="form-control maskDinheiro" name="txtValorAlt" id="txtValorAlt" />
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-success" id="atualizar_abastecimento"> Salvar</button>
                <button type="button" id="btnVoltar" data-dismiss="modal" class="btn btn-danger"> Fechar</button>
            </div>
        </div>
    </div>
</div>



<div class=" modal fade modal_confirm" id="modalNovoRegistro">
    <div class="modal-dialog modal-md">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Novo Abastecimento</h4>
            </div>
            <div class="modal-body">
                <div class="card-body">
                    <div class="row">
                        <div class="form-group col-md-6">
                            <label>Veículo<b>*</b> <img src="https://img.icons8.com/flat_round/15/000000/info.png" data-toggle="tooltip" data-placement="top" title="Selecione uma veículo" /></label>
                            <select class="form-control" name="selVeiculo" id="selVeiculo"></select>
                        </div>
                        <div class="form-group col-md-6">
                            <label>Posto<b>*</b> <img src="https://img.icons8.com/flat_round/15/000000/info.png" data-toggle="tooltip" data-placement="top" title="Selecione um posto" /></label>
                            <select class="form-control" name="selPosto" id="selPosto"></select>
                        </div>
                        <div class="form-group col-md-6">
                            <label>Combustível<b>*</b> <img src="https://img.icons8.com/flat_round/15/000000/info.png" data-toggle="tooltip" data-placement="top" title="Selecione um tipo de combustível" /></label>
                            <select class="form-control" name="selCombustivel" id="selCombustivel"></select>
                        </div>
                        <div class="form-group col-md-6">
                            <label>Tipo<b>*</b> <img src="https://img.icons8.com/flat_round/15/000000/info.png" data-toggle="tooltip" data-placement="top" title="Selecione um tipo de veículo" /></label>
                            <select class="form-control" name="selTipo" id="selTipo"></select>
                        </div>
                        <div class="form-group col-md-6">
                            <label>Data Abastecimento<b>*</b> <img src="https://img.icons8.com/flat_round/15/000000/info.png" data-toggle="tooltip" data-placement="top" title="Informe a data" /></label>
                            <input type="date" class="form-control" name="dtAbastecimento" id="dtAbastecimento" />
                        </div>
                        <div class="form-group col-md-6">
                            <label>KM Abastecido<b>*</b> <img src="https://img.icons8.com/flat_round/15/000000/info.png" data-toggle="tooltip" data-placement="top" title="Informe o KM abastecido" /></label>
                            <input type="text" class="form-control maskDinheiro" name="txtKM" id="txtKM" placeholder="Ex: 39,00" />
                        </div>
                        <div class="form-group col-md-6">
                            <label>Litro(s) Abastecido(s)<b>*</b> <img src="https://img.icons8.com/flat_round/15/000000/info.png" data-toggle="tooltip" data-placement="top" title="Informe a quantidade de litro(s) abastecido" /></label>
                            <input type="text" class="form-control maskDinheiro" name="txtLitro" id="txtLitro" placeholder="Ex: 32,40" />
                        </div>
                        <div class="form-group col-md-6">
                            <label>Valor<b>*</b> <img src="https://img.icons8.com/flat_round/15/000000/info.png" data-toggle="tooltip" data-placement="top" title="Informe o valor abastecido!" /></label>
                            <input type="text" class="form-control maskDinheiro" name="txtValor" id="txtValor" />
                        </div>
                    </div>

                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-success" id="salvar_abastecimento">Inserir</button>
                <button type="button" id="btnVoltar" data-dismiss="modal" class="btn btn-danger"> Fechar</button>
            </div>
        </div>
    </div>
</div>



<div class=" modal fade modal_confirm" id="modalConfirmarExclusaoAbastecimento">
    <div class="modal-dialog modal-md">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title"> Excluir Veículo</h4>
            </div>
            <div class="modal-body">
                <p>
                    A confirmação resultará na exclusão permanente do item.
                    <br /><br />
                    Tem certeza que deseja excluir este Abastecimento ?
                </p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-success" id="delete_abastecimento">SIM</button>
                <button type="button" id="btnVoltar" data-dismiss="modal" class="btn btn-danger">NÃO</button>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    <script src="~/scripts/abastecimento.js"></script>
}



